body{
    background-image: url(img/fa.jpg);
  }
#convert {
    background-color: #f3e7a6;
  }
  #convert:hover {
    background-color: #bcc768;
  }
  h1 {
    
    font-family: Lucida;
    color: #ffee07;
  }
  input {
    
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #0e0d0d;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }
